<div class="container">
  <div class="row mt-4">
    <div class="col-10 mx-auto">
      <h2 class="text-center w-25 h4 bg-light">検索結果</h2>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-10 mx-auto">
      <table class="table table-bordered">
        <tbody>
          <% @areas.each do |area| %>
            <tr>
              <td><%= area.area_name %></td>
              <td><%= area.address %></td>
              <td><%= area.open_time + "~" + area.close_time %></td>
              <td><%= link_to "詳細", area_path(area), class: 'btn btn-success' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="d-flex justify-content-center">
        <%= paginate @areas %>
      </div>
    </div>
  </div>
</div>