<div class="container">
  <div class="row mt-4">
    <div class="col-10 mx-auto">
      <h2 class="text-center w-25 h4 bg-light">新規投稿</h2>
      <%= render 'layouts/errors', obj: @area %>
    </div>
  </div>

  <div class="row mt-4 mx-auto">
    <div class="col-6">
      <%= form_with model:@area, local:true do |f| %>
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td><%= f.label :area_name, '施設名', class: "col-form-label" %></td>
              <td><%= f.text_field :area_name, class: "form-control" %></td>
            </tr>

            <tr>
              <td><%= f.label :address, '住所', class: "col-form-label" %></td>
              <td>
                <%= f.text_field :address, id: "address", type: "textbox", class: "form-control" %>
                <input type="button" value="検索" onclick="codeAddress()">
              </td>
            </tr>

            <tr>
              <td><%= f.label :facilities, '施設の種類', class: "col-form-label" %></td>
              <td><%= f.select(:facilities, ["コンビニ", "ショッピング","飲食店","公園","その他"], {include_blank: "選択して下さい"}, { class: "custom-select mr-2"}) %></td>
            </tr>

            <tr>
              <td><%= f.label :handrail, '手すり', class: "col-form-label" %></td>
              <td style="display: flex;">
                <div>
                  <%= f.radio_button :handrail, false %>
                  <%= f.label :handrail, '無し', value: false %>
                 </div>
                <div style="margin-left: 5px;">
                  <%= f.radio_button :handrail, true %>
                  <%= f.label :handrail, '有り', value: true %>
                  </div>
              </td>
            </tr>

            <tr>
              <td><%= f.label :washlet, 'ウォシュレット', class: "col-form-label" %></td>
              <td style="display: flex;">
                <div>
                  <%= f.radio_button :washlet, false %>
                  <%= f.label :washlet, '無し', value: false %>
                </div>
                <div style="margin-left: 5px;">
                  <%= f.radio_button :washlet, true %>
                  <%= f.label :washlet, '有り', value: true %>
                </div>
              </td>
            </tr>

            <tr>
              <td><%= f.label :open_time, '利用可能時間', class: "col-form-label" %></td>
              <td style="display: flex;">
                <div style="width: 20%">
                  <%= f.text_field :open_time, placeholder: "00:00", class: "form-control" %>
                </div>
                <div style="margin-left: 5px; width: 3%">~</div>
                <div style="margin-left: 5px; width: 20%;">
                  <%= f.text_field :close_time, placeholder: "24:00", class: "form-control" %>
                </div>
                <p style="width: 57%"></p>
              </td>
            </tr>

            <tr>
              <td></td>
              <td><%= f.submit '新規登録', class: "btn btn-success btn-lg" %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>

    <div class="col-6">
      <div id='map'></div>

      <style>
        #map {
          height: 400px;
          width: 400px;
        }
      </style>

      <script>
        let map
        let geocoder

        function initMap(){
          geocoder = new google.maps.Geocoder()

          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 35.001637, lng:135.767667},
            zoom: 12,
          });

          marker = new google.maps.Marker({
            position:  {lat: 35.001637, lng:135.767667},
            map: map
          });
        }

        function codeAddress(){
          let inputAddress = document.getElementById('address').value;

          geocoder.geocode( { 'address': inputAddress}, function(results, status) {
            if (status == 'OK') {
              map.setCenter(results[0].geometry.location);
              var marker = new google.maps.Marker({
                  map: map,
                  position: results[0].geometry.location
              });
            } else {
              alert('該当する結果がありませんでした：' + status);
            }
          });
        }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
    </div>
  </div>
</div>