<div class="container">
   <div class="row mt-4">
    <div class="col-10 mx-auto">
      <h2 class="text-center w-25 h4 bg-light">投稿詳細</h2>
    </div>
  </div>
  
  <div class="row mt-5">
    <div class="col-6">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="table-active text-dark">施設名</td>
            <td><%= @area.area_name %></td>
          </tr>

          <tr>
            <td class="table-active text-dark">住所</td>
            <td><%= @area.address %></td>
          </tr>

          <tr>
            <td class="table-active text-dark">施設の種類</td>
            <td><%= @area.facilities %></td>
          </tr>

          <tr>
            <td class="table-active text-dark">手すり</td>
            <% if @area.handrail == false %>
              <td>無し</td>
            <% else @area.handrail == true %>
              <td>有り</td>
            <% end %>
          </tr>

          <tr>
            <td class="table-active text-dark">ウォシュレット</td>
            <% if @area.washlet == false %>
              <td>無し</td>
            <% else @area.washlet == true %>
              <td>有り</td>
            <% end %>
          </tr>

          <tr>
            <td class="table-active text-dark">利用可能時間</td>
            <td><%= @area.open_time+"~"+@area.close_time %></td>
          </tr>
        </tbody>
      </table>
      <div>
        <%= link_to '編集する', edit_area_path(@area), class: "btn btn-success" %>
      </div>

      <div class="mt-4">
        <% if @area.favorited_by?(current_user) %>
          <%= link_to area_favorites_path(@area), method: :delete do %>
            ♥<%= @area.favorites.count %> いいね
          <% end %>
        <% else %>
          <%= link_to area_favorites_path(@area), method: :post do %>
            ♡<%= @area.favorites.count %> いいね
          <% end %>
        <% end %>
      </div>

      <div class="mt-4">
        <h4 class="bg-light">コメント投稿</h4>
        <%= form_with model: [@area, @area_comment], local: false do |f| %>
          <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに", class: "form-control comment-textarea" %>
          <%= f.submit "送信", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>

    <div class="col-6">
      <div id='map'></div>

      <style>
        #map {
          height: 400px;
          width: 400px;
        }
      </style>

      <script>
        function initMap() {
          // #latitude,longitudeから位置を特定
          var test ={lat: <%= @area.latitude %>, lng: <%= @area.longitude %>};
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: test
          });
          var transitLayer = new google.maps.TransitLayer();
          transitLayer.setMap(map);

          var contentString = '住所：<%= @area.address %>';
          var infowindow = new google.maps.InfoWindow({
            content: contentString
          });

          // #Map上の指定した位置にピンを挿して表示する
          var marker = new google.maps.Marker({
            position:test,
            map: map,
            title: contentString
          });

          marker.addListener('click', function() {
            infowindow.open(map, marker);
          });
        }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>

      <div class="mt-4">
        <h4 class="bg-light">コメント</h4>
        <table class="table table-borderless">
          <tbody>
            <% @area.area_comments.each do |area_comment| %>
            <tr>
              <td>
                <%= link_to users_mypage_path(area_comment.user) do %>
                  <%= area_comment.user.name %>
                <% end %>
              </td>
              <td><%= area_comment.comment %></td>
              <td>
                <% if area_comment.user == current_user %>
                  <%= link_to "削除する", area_area_comment_path(area_comment.area, area_comment), method: :delete, class: "btn btn-danger" %>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>