<div class="container">
  <div class="row mt-4">
    <div class="col-10 mx-auto">
      <h2 class="text-center w-25 h4 bg-light">お気に入り一覧</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-10 mx-auto mt-4">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>施設名</th>
            <th>住所</th>
            <th>お気に入り登録数</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @favorites.each do |favorite| %>
          <tr>
            <td><%= favorite.area.area_name %></td>
            <td><%= favorite.area.address %></td>
            <td><%= favorite.area.favorites.count %>件</td>
            <td><%= link_to "詳細", area_path(favorite.area), class: 'btn btn-success' %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div class="d-flex justify-content-center">
        <%= paginate @favorites %>
      </div>
    </div>
  </div>
</div>