<div class="container">
  <div class="row mt-4">
    <div class="col-10 mx-auto">
      <h2 class="text-center w-25 h4 bg-light">マイページ</h2>
    </div>
  </div>

  <div class='row mt-3'>
    <h4 class="col-2 mb-0" style="height:38px; line-height:38px;"><strong>登録情報</strong></h4>
    <%= link_to "編集する", users_mypage_edit_path, class: 'btn btn-success d-inline-block col-1' %>
  </div>

  <div class="row mt-3 ml-1">
    <table class="col-8 table table-bordered">
      <tbody>
        <tr>
          <td class="table-active text-dark w-50">ユーザー名</td>
          <td class="w-100"><%= @user.name %></td>
        </tr>
        <tr>
          <td class="table-active text-dark">メールアドレス</td>
          <td class="w-100"><%= @user.email %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class='row mt-5'>
    <h4 class="col-2 mb-0" style="height:38px; line-height:38px;"><strong>お気に入り登録</strong></h4>
    <%= link_to "一覧", favorites_index_path, class: 'btn btn-primary d-inline-block col-1' %>
  </div>

  <div class='row mt-5'>
    <h4 class="col-2 mb-0" style="height:38px; line-height:38px;"><strong>コメント一覧</strong></h4>
    <%= link_to "編集する", users_mypage_edit_path, class: 'btn btn-primary d-inline-block col-1' %>
  </div>
</div>