<header>
  <div class="py-2" style="background-color: #FFF5EE;">
    <div class="container">
      <div class="d-flex justify-content-between">
        <h1>
          <%= link_to root_path, data: {"turbolinks"=>false} do %>
            <%= image_tag 'linkedin_banner_image_1.png', class: "rounded-circle mb-0", style: "height: 96px; line-height: 96px;" %>
          <% end %>
        </h1>
          <div class="f-flex flex-column">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFF5EE;">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <% if user_signed_in? %>
                 <li class="nav-item">
                    <%= link_to 'マイページ', users_mypage_path, class: "nav-link text-dark border rounded btn mr-3" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to '新規投稿', new_area_path, class: "nav-link text-dark border rounded btn mr-3" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link text-dark border rounded btn' %>
                  </li>
                <% elsif admin_signed_in? %>
                  <li class="nav-item">
                    <%= link_to '会員一覧', admin_users_path, class: "nav-link text-dark border rounded mr-3 btn" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to '投稿一覧', admin_areas_path, class: "nav-link text-dark border rounded mr-3 btn" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'コメント一覧', area_comments_path, class: "nav-link text-dark border rounded mr-3 btn" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "nav-link text-dark border rounded btn" %>
                  </li>
                <% else %>
                  <li class="nav-item">
                    <%= link_to '新規登録', new_user_registration_path, class: 'nav-link text-dark border rounded btn mr-3' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'ログイン', new_user_session_path, class: 'nav-link text-dark border rounded btn' %>
                  </li>
                <% end %>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>